header {
	height: 80px;
	margin-bottom: 50px;
}

#container {
	width: 650px;
}
/*#ProfilePic {
	height: 50px;
	margin-top: 50px;
	float: left;
	overflow: both;*/
/*}
}
#Github {
	float:left;
}
#Linkedin {
	float:left;
	height: 10px;
}*/